@use '../../styles/colors' as *;

.tasks {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    & > h2 {
      font-size: 1.5rem;
      line-height: 1.75rem;
      font-weight: 500;
    }

    @media screen and (max-width: 480px) {
      & > h2 {
        font-size: 1.025rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;

    row-gap: 16px;
  }

  &__confirmation {
    padding: 10px;
    max-width: 350px;

    &__header {
      font-size: 1rem;
      line-height: 1.75rem;
      color: $pink-red;
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      column-gap: 16px;
      margin-top: 16px;

      & button {
        border: none;
        font-size: 0.825rem;
        padding: 12px 16px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }

      &__cancel {
        background-color: $gray-cloud;
        color: $jet;
      }

      &__confirm {
        background-color: $pink-red;
        color: $white;
      }
    } 
  }
}