$black: #000000;

$gray: #F5F5F5;
$gray-cloud: #D1D0D9;
$gray-light: #BCBCBC;
$gray-granite: #A9A9A9;

$indigo: #585292;

$jet: #2E2E2E;


$pink-red: #E07C7C;
$pink-red-muted: #EBB9B8;

$white-smoke: #F5F5F5;
$white: #FFFFFF;

