.select {
  &__trigger {
    width: 110px;
    height: 30px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 0px;
    background: none;

    font-size: 0.8rem;
    line-height: 1rem;
  }

  &__trigger:hover {
    cursor: pointer;
  }

}